@import url(http://fonts.googleapis.com/earlyaccess/cwtexming.css);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:900,900italic|Karla:400,700,400italic,700italic|Old+Standard+TT:400,400italic,700);

.type-spec {
	font-size: 3rem;
	font-style: normal;
}
.tagline {
	text-transform: uppercase;
	letter-spacing: 0.5em;
	font-size: 2rem;
}
.title {
	font-style: italic;
	font-size: 5rem;
}
.chinese--ming {
	font-family: 'cwTeXMing', serif;
}

.french {
	font-family: 'Playfair Display', serif;
}
.sans {
	font-family: 'Karla', sans-serif;
}
.old {
	font-family: 'Old Standard TT', serif;
}