body {
	color: #0d095c;
	background: url(gold.png);
	font-family: $base-font-family;
	//border-left: 25px solid #ff3c00;
}
.type-spec {
	font-size: 3rem;
	font-style: normal;
}
.tagline {
	text-transform: uppercase;
	letter-spacing: 0.5em;
	font-size: 2rem;
}
.title {
	font-style: italic;
	font-size: 5rem;
}
.chinese--ming {
	font-family: 'cwTeXMing', serif;
}

.french {
	font-family: $french;
}
.sans {
	font-family: $karla;
}
.old {
	font-family: $old;
}

.sol__splash {
	text-align: center;
	padding: 2em 0;
	border-bottom: $doubleborder;
}
.logo__ensol {
	font-family: $french;
	font-style: italic;
	font-size: 5rem;
	color: #e8b005;
}
.tagline__ensol {
	font-variant: small-caps;
	letter-spacing: 0.5em;
	font-size: 1.25rem;
	font-family: $old;
}
.introduction {
	font-size: 3em;
}
.introduction__exupery {
	width: 30%;
	float: left;
}
.renard {
	font-family: $old;
	//font-weight: bold;
	font-size: 5rem;
	color: #ff3c00;
	line-height: 1.25;
	font-style: normal;
}
.introduction__straight {
	width: 68%;
	float: left;
	border-left: $doubleborder;
}